@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;


.video-info {
    &__title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-family: 'avenir';
        font-weight: 700;
        font-size: $mobile-pageheader-font;
        line-height: $mobile-pageheader-lineHeight;
        
        @include tablet {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: $normal-pageheader-font;
        line-height: $normal-pageheader-lineHeight;
        }
    }

    &__detail {
        display: flex;
        flex-direction: row;
        font-family: 'avenir';
        font-weight: 400;
        font-size: $mobile-subHeaderBody-font;
        line-height: $mobile-subHeaderBody-lineHeight;
        margin-top: 1rem; 
        border-top: 0.5px solid $silver;
        border-bottom: 0.5px solid $silver;
        
        @include tablet {
            @include flex-row {
                flex-wrap: wrap;
                justify-content: space-between;
            }
                margin-top: -2rem;
                font-size: $normal-subHeaderBody-font;
                line-height: $normal-subHeaderBody-lineHeight;
                border-top: 0rem;
                border-bottom: 1px solid $mercury;
            
        }
    }
    &__subtitle {   
        margin-bottom: 2rem;
        @include tablet {
            @include flex-row {
                align-items: baseline;
            }
            margin-bottom: 1.5rem;
        }
    }

    &__author {
        margin-right: 0.5rem;
        font-size: $mobile-sectionHeader-font;
        line-height: $mobile-sectionHeader-lineHeight;
        font-family: "avenir";
        font-weight: 700;
        @include tablet {
            font-size: $normal-sectionHeader-font;
            line-height: $normal-sectionHeader-lineHeight;
        }
    }

    &__date {
        color: $silver;
   }
    &__data {
        display: flex;
        padding-bottom: 1.5rem;
        //justify-content: space-between;
        @include tablet {
            @include flex-row {
                align-items: center;
            }
            padding-bottom: 0rem;
        }
    
            &-views {
            color: $silver;
            @include tablet {
            margin-right: 2rem;
             }
        }
    }

    &__text {
        padding: 1.5rem 0 2.5rem;
        margin-top: -0.5rem;
        font-family: 'avenir';
        font-weight: 400;
        font-size: $mobile-subHeaderBody-font;
        line-height: $mobile-subHeaderBody-lineHeight;
        @include tablet {
            padding: 2.5rem 0 4rem;
            width: 75%;
            font-size: $normal-subHeaderBody-font;
            line-height: $normal-subHeaderBody-lineHeight;
        }
    }
}

