@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;


.video-info {
    &__title {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-family: 'avenir';
        font-weight: 700;
        font-size: $mobile-pageheader-font;
        line-height: $mobile-pageheader-lineHeight;
        
        @include tablet {
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: $normal-pageheader-font;
        line-height: $normal-pageheader-lineHeight;
        }
    }

    &__detail {
        display: flex;
        flex-direction: row;
        border-bottom: 1px $mercury;
        font-family: 'avenir';
        font-weight: 400;
        font-size: $mobile-subHeaderBody-font;
        line-height: $mobile-subHeaderBody-lineHeight;
        margin-top: 1rem; 
        @include tablet {
            @include flex-row {
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 2rem;
                font-size: $normal-subHeaderBody-font;
                line-height: $normal-subHeaderBody-lineHeight;
            }
        }
    }
    &__subtitle {
        
        margin-bottom: 2rem;
        @include tablet {
            @include flex-row {
                align-items: baseline;
            }
            margin-bottom: 1.5rem;
        }
    }

    &__author {
        margin-right: 0.5rem;

        @include tablet {
            font-size: $normal-sectionHeader-font;
            line-height: $normal-sectionHeader-lineHeight;
            font-family: "avenir";
            font-weight: 600;
        }
    }

    &__date {
        color: $silver;
   }
    &__stats-wrapper {
        @include flex-row {
            align-items: center;
        }
        padding-bottom: 1.5rem;

    }

    &__view-icon,
    &__like-icon {
        margin-right: 0.5rem;
    }

    &__view-num {
        margin-right: 0.5rem;
    }

    &__view-num,
    &__like-num {
        @include desktop {
            margin-right: 2rem;
        }
    }

    &__text {
        padding: 1.5rem 0 2.5rem;

        @include tablet {
            padding: 2.5rem 0 4rem;
            width: 75%;
        }
    }
}

