
//primary colors
$primary-text-black: #323232;
$primary-blue: #0095FF;
$secondary-text: #AFAFAF;
$primary-text-light: #FFFFFF;


//secondary color
$video-player:#000000;
$hover-state: #0065AD;
$divider-line: #E1E1E1;
$alternative-text: #FAFAFA;