@use './variables' as *;
@use './typography' as *;
@use './colors'as *;


@mixin tablet {
    @media(min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media(min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin mobile {
    @media(min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


@mixin button {
    font-size: $mobile-labelsButton-font;
    font-weight: 600;
    line-height: $mobile-labelsButton-lineHeight;
    text-align: center;
    height: 2.5rem;
    width: 100%;
    color: $white;
    border-radius: 0.25rem;
    border-style: none;
    background-color: $brainflix-blue;

    &:hover {
        background-color: $brainflix-darkblue;
        cursor: pointer;
    }
    @include tablet {
        font-size: $normal-labelsButton-font;
        line-height: $normal-labelsButton-lineHeight;
        width: 9.375rem;
        padding: 0rem 2rem
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    @content;
}

@mixin combo-spacing {
    margin: 0 1rem;

    @include tablet {
        margin: 0 1.5rem;
    }

    @include desktop {
        margin: 0 11.25rem;
    }
}


@mixin flex-row {
    display: flex;
    flex-direction: row;
    @content;
}

@mixin avatar {
    background-color: $mercury;
    overflow: hidden;
    border-radius: 50%;
    min-width: 3rem;
    width: 3rem;
    height: 3rem;
}
@mixin formfield {
    width: 100%;
    height: 2.25rem;
    border: 0.15rem solid $mercury;
    border-radius: 0.25rem;
    padding: .75rem;
    background-color: $alabaster;
    font-size: $mobile-subHeaderBody-font;
    font-weight: $regular;
    line-height: $mobile-subHeaderBody-lineHeight;

    &::placeholder {
        color: $brainflix-black;
    }

    &:focus {
        outline: none;
        border-color: $brainflix-black;
    }

    @include tablet {
        width: 15rem;
        height: 2.5rem;
        padding: 1rem;

    }
}