@use './variables' as *;


@mixin tablet {
    @media(min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media(min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin mobile {
    @media(min-width: $mobile-breakpoint) {
        @content;
    }
}

@mixin reset-list {
    list-style: none;
    margin: 0;
    padding: 0;
}