@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.comment {
   &__title {
        margin-top: -2.9rem;
        font-family: 'Avenir';
        font-weight: 700;
        font-style: $mobile-sectionHeader-font;
        line-height: $mobile-sectionHeader-lineHeight;
        @include tablet {
            font-style: $normal-sectionHeader-font;
            line-height: $normal-sectionHeader-lineHeight;
        }
        
    }
}