@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


.header {
    padding: 0rem 2rem;
    @include flex-column;
    align-items: center;
    height: 10.5625rem;
    box-sizing: border-box;
    &__logo {
        margin: .75rem 0rem;
        height: $logo-height;
        width: $logo-width;
    }
    @include tablet {
        padding: 0px 1rem;
        flex-direction: row;
        justify-content: space-between;
    }
    @include desktop {
        padding: 0px 3rem;
    }
     
}

// form header
.form {
    
}


// .navbar {
//     position: relative;
//     @include flex-row;
//     flex-wrap: wrap;

//     &__container{
//         @include formfield;
//         border: none;
//         background: none;
//         padding: 0;
//         position: relative;
//         margin-bottom: 0.5rem;

//         @include tablet {
//             background: none;
//             padding: 0;
//             margin: 0;
//         }    
//     }

//     &__search-bar {
//         position: absolute;
//         margin-left: 0.5rem;
//         bottom: 50%;
//         transform: traanslateY(50%);
//     }
//     &__input {
//         @include formfield;
//         margin-bottom: 0.5rem;
//         padding-left: 2.5rem;

//         @include tablet {
//             margin: 0;
//             padding-left: 2.5rem;
//         }
//     }
//     &__upload {
//         @include button;
//         margin: 0 0.5rem 0.5rem 0rem;
//         flex-grow: 1;

//         @include tablet {
//             flex-grow: 0;
//             margin: 0 0.5rem;
//         }

//     }
//     &__uplodad-icon{
//         margin-right: 0.5rem;
//         vertical-align: sub;
//     }
//     &__avatar-container {
//        @include avatar;
//        margin-left: auto;
       
//        @include tablet {
//         margin: 0;
//        }
//     } 

//     &__avatar {
//         height: 100%
//     }
       

// }