    @use '../../styles/partials/colors' as *;
    @use '../../styles/partials/mixins' as *;
    @use '../../styles/partials/typography' as *;
    @use '../../styles/partials/variables' as *;
    @use '../../styles/partials/global' as *;

.header {
    @include flex-column {
        justify-content: center;
    }
    @include combo-spacing;

    @include tablet {
        @include flex-row {
            justify-content: space-between;
        }
        padding:1rem 0;
    }

    &__link {
        margin: 0.5rem auto;
        height: 1.5625rem;
        width: 7.5rem;
        @include tablet {
            margin: auto 0;
            
        }
    }
}


