@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;

.navbar-form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__container{
        @include formfield;
        position: relative;

        @include tablet {
            background: none;
        }
    }

    &__search-bar {
        position: absolute;
        margin-left: 0.5rem;
        bottom: 50%;
        transform: traanslateY(50%);
    }
    &__avatar {
        background-color :$alternative-text;
        overflow: hidden;
        border-radius: 50%;
        min-width: 3rem;
        width:3rem;
        height: 3rem;
    }

       

}