@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.video-player {
    &__container {
        width: 100%;
        background-color: $brainflix-darkblack;

        @include desktop {
            padding: 0 6rem;
        }
    }

    &__editor {
        display: block;
        width: 100%;
        max-height: 34rem;

        @include tablet {
            margin: auto;
            width: 90%;
        }

        @include desktop {
            width: 80%;
        }
    }
}