@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;


.comment {
    &__card {
        @include flex-row;
        border-bottom: $mercury;
        margin-top: 2rem;
        padding-bottom: 1.5rem;
    }

    &__avatar {
        @include avatar;
        margin-right: 1rem;
    }

    &__body {
        @include flex-row {
            flex-wrap: wrap;
        }
        width: 100%;
    }
    &__user {
        font-family: "avenir";
        font-weight: 600;
    }

    &__date {
        margin-left: auto;
        color: $silver;

        @include tablet {
            margin-left: 1rem;
        }
    }

    &__text {
        width: 100%;
        margin-top: 0.5rem;

        @include desktop {
            margin-right: 2rem;
        }
    }
}