@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.main {
    &__body {
        @include combo-spacing;

        @include desktop {
            display: flex;
        }
        &-left {
            @include desktop {
                width: 80%;
                border-right: .0625rem solid $mercury;
            }
        }
        &-right {
            @include desktop {
                width: 20%;
            }
        }
    }
}