@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.video-list{
    @include flex-row;
    padding: 0.5rem;

    &:hover {
        cursor: pointer;
        background-color: $brainflix-darkblue;
        opacity: 0.85;
        border-radius: 0.25rem;
        transition: 0.5s ease
    }

    &__image {
        display: block;
        width: 7.5rem;
        height: 4.7rem;
    }

    &__container {
        margin-left: 0.5rem;
    }
    &__tittle, &__author {
        font-family: "avenir";
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 1.25rem;
    }
    @include tablet {
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

&__creator {
    font-weight: 400;
    margin-top: 1rem;
}

}



