@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.video-list{
    &__item {
        display: flex;
  
    }
    &__image {
        width: 7.5rem;
        height: 4.7rem;
        border-radius: 0.2rem;
        object-fit: cover;
        object-position: top;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &__author {
        font-family: "avenir";
        font-weight: 400;
        font-size: $mobile-labelsButton-font;
        line-height: $mobile-labelsButton-lineHeight
    }
    @include tablet {
        font-size: $normal-labelsButton-font;
        line-height: $normal-labelsButton-lineHeight;
    }

    &__title {
        font-family: "avenir";
        font-weight: 400;
        font-size: $mobile-labelsButton-font;
        line-height: $mobile-labelsButton-lineHeight
         }
    
     @include tablet {
        font-size: $normal-labelsButton-font;
        line-height: $normal-labelsButton-lineHeight;
         }
}



